.container {
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.col-md-6 img {
  max-width: 100%;
  height: auto;
}

.info {
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
}

.info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.details div {
  flex: 0 0 48%;
}

.description {
  margin-top: 15px;
}

.description label {
  font-weight: bold;
  margin-bottom: 5px;
}
.mess {
  color: green;
}
img {
  border: 1px solid black;
  border-radius: 20px;
}
