.job {
  max-width: 1146px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 90px;
}

.inp {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.description {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  height: 125px;
}

.btn-upload {
  margin-top: 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-create-job {
  margin-top: 15px;
}

.img-preview {
  max-width: 100%;
  margin-top: 15px;
}
