body {
  background: rgb(2, 0, 36);
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
}

.user {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 35px;
  margin-top: 25px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  position: -webkit-sticky;
  position: fixed;
  top: 10%;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user img {
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

.user p {
  margin: 0;
  padding: 5px;
}

.user hr {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0.5px solid #ccc;
}
.info {
  margin-left: 25px;
}
.like-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.like-btn:focus {
  outline: none;
}

.like-btn svg {
  margin-right: 5px;
}
.like {
  width: 20px;
  height: 30px;
}

.inp-comment {
  width: 100%;
  max-width: 777px;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid #272829;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.inp-comment:hover {
  border: 2px solid #272829;
}

.inp-comment:active {
  transform: scale(0.95);
}

.inp-comment:focus {
  border: 2px solid #666;
}

.send-comment {
  height: 24px;
  width: 24px;
}

.create {
  background: #61677a;
  border-radius: 50px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  position: absolute;
  left: 75%;
  bottom: 4%;
}

.x-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  color: rgb(160, 7, 7);
  position: absolute;
  top: 1%;
  left: 95%;
  right: 20%;
}
.postParent {
  width: auto;
  height: 300px;
}

.inp-des:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.inp-des::placeholder {
  color: #8e8e8e;
  font-size: 14px;
}

.upload {
  margin-left: 1px;
}

.upload {
  background-color: #1877f2;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  transition: background-color 0.2s;
  width: 130px;
}

.upload:hover {
  background-color: #115293;
}

.user {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.info {
  text-align: center;
}

#image {
  border: 2px solid #ccc;
  border-radius: 50%;
}

.post-form {
  margin-top: 20px;
}

.card {
  background-image: linear-gradient(
    to right top,
    #d8d9da,
    #d9e2e4,
    #dbebe6,
    #e8f2e2,
    #fff6e0
  );
  margin-bottom: 20px;
}

.card-header {
  display: flex;
  align-items: center;
}

.inp-des {
  width: 70%;
  margin-bottom: 10px;
}

.create {
  background-color: #61677a;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.card-footer {
  display: flex;
  align-items: center;
}

.inp-comment {
  flex-grow: 1;
  margin-right: 10px;
}

.icon-comment {
  border-radius: 20px;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.send-comment {
  color: #2196f3;
  font-size: 20px;
}

.delete {
  background-color: #f44336;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.update {
  background-color: #2196f3;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-text {
  margin-right: 10px;
}

.load {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.p-name {
  margin-left: 10px;
  margin-top: 8px;
}

.custom-file-label {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border: 2px solid #ffffff;
  cursor: pointer;
  font-family: Arial, sans-serif;
  width: 40%;
}

.custom-file-icon {
  margin-right: 8px;
}

#inp-img {
  position: fixed;
  left: 50.5%;
  top: 29%;
}

.img {
  margin-top: 2px;
  border: 2px solid #272829;
  border-radius: 8px;
  max-width: 100%;
  height: 12rem;
  display: block;
}

.input-container {
  margin-bottom: 20px;
}

.textarea-container {
  display: flex;
  flex-direction: column-reverse;
}

.inp-des {
  resize: none;
  background-color: #ffffff;
  border: 1px solid #272829;
  color: #333;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 10px;
  font-size: medium;
  transition: box-shadow 0.3s ease-in-out;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}

#newPostDescription {
  margin-top: 33px;
  width: 430px;
  height: 12rem;
}
.comments-container {
  margin-top: 10px;
}

.comment {
  border: 1px solid #272829;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-child {
  display: flex;
  align-items: center;
}

.comment-p {
  margin: 0;
  padding-left: 10px;
  text-align: left;
}
h3 {
  text-align: center;
}
.post-form {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 80%;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.img {
  margin-top: 2px;
}

.comments-container {
  margin-top: 20px;
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-child {
  display: flex;
  align-items: center;
}

.comment-p {
  margin: 0;
}

.card-footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.inp-comment {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
}


.card-text {
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;
}
.send-comment {
  margin-right: 5px;
  color: #2196f3;
}

.delete,
.update {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
}

.update {
  background-color: #3498db;
}
.show {
  border-radius: 20px;
  width: 200px;
  height: 45px;
  margin: 10px;
  margin-left: 220px;
}
@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }
  .info {
    display: none;
  }
  .user {
    display: none;
  }
  .img {
    display: none;
  }
  .create {
    left: 70%;
  }
  .x-icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    color: rgb(160, 7, 7);
    position: absolute;
    top: 1%;
    right: 5%;
  }
}

@media only screen and (max-width: 768px) {
  .info,
  .user,
  .img {
    display: none;
  }

  .create {
    left: 50%;
  }
}
@media only screen and (max-width: 1368px) {
  .info,
  .user,
  .img {
    display: none;
  }

  .create {
    left: 60%;
  }
}
