.container {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.img-per {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.per {
  font-weight: bold;
}